body { 
	margin: 5%;
}

header {
	display: block;
	background: white;
	display: flex; /* Блоки одинаковой высоты */
}

header > div {
	display:inline; /* Расположение блоков в ряд */
	text-align: right;
	color: white;
	font: arial;
	font-size: 14;
	line-height: 22px;
	padding-right:15px;
	background: grey;
}

#block1 {
	width: 20%;
}
#block2 {
	width: 30%;
	margin: 5%;
}
#block3 {
	width: 50%;
}

aside {
	display: block;
	line-height: 22px;
	background: grey;
	width: 200px;
	color: white;
	font: arial;
	font-size: 14;
	float: left;
	padding:5px;
	margin-right: 5%;
}

aside > div {
	/*margin-top: 20%;*/
	border-top: 100px solid white;
	padding: 0;
	background: grey;
	height: 300px;
}

section {
	display: block;
	overflow: auto;
	margin-bottom: 10%;	
}

section > header {
	display: block;
	background: #c1c1c1;
	font: arial;
	font-size: 14;
	line-height: 22px;
	padding:15px;
	padding-left: 25px;
}

section > article {
	display: block;
	background: white;
}

section > article > div {
	background: #c1c1c1;
	margin: 5%;
	margin-left: 0;
	width: 10em;
	height: 15em;
	display: inline-block;
}

section > footer {
	display: block;
	background: white;
	display: flex;	
}

section > footer > div {
	display:inline;
	
	font: arial;
	font-size: 14;
	line-height: 22px;
	padding:15px;
	background: #c1c1c1;

	display: flex;
}

#block8 {
	margin-right: 5%;
}

footer {
	display: block;
	display: flex;
}

footer > div {
	display:inline;
	width: 30%;
	background: grey;
}

#block10 {
	color: white;
	font: arial;
	font-size: 14;
	line-height: 22px;
	padding: 5%;
}

#block10 > #left {
	float: left;
}

#block10 > #right {
	float: right;
}

#block11 {
	margin: 5%;
	padding: 5%;
	color: white;
	font: arial;
	font-size: 14;
	line-height: 22px;
}

#block12_13{
	background: white;
}

#block12_13 > div {
	background: grey;
	height: 45%;
}

#block12 {
	margin-bottom: 8%;
}

